---
---
@import "html5bp";
@import "colours";
@import "syntax";
@import "helper";

/* Variables */
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-regular-webfont.eot');
    src: url('/fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('/fonts/raleway-regular-webfont.woff') format('woff'),
         url('/fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$standard-font: 'Raleway', sans-serif;
$feature-font: 'Roboto Slab', serif;

/* Mixins */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin striped-colour($colour: black, $angle: 45deg, $amount: 1%) {
    background: repeating-linear-gradient($angle,
                                        $colour,
                                        $colour 20px,
                                        lighten($colour, $amount) 20px,
                                        lighten($colour, $amount) 40px);
}

* {
    font-weight: 400;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    font-family: $standard-font;
    line-height: 1.4;
}

html {
    font-size: 8pt;
    color: $dark;
    background-color: $light;
}

section {
    padding-bottom: 20px;
}

span {
    font-weight: inherit;
}

h1, h2, h3 {
    font-family: $feature-font;
}

h1 {
    @include font-size(4);
    margin-top: 50px;
}

h2 {
    @include font-size(3.6);
}

h3 {
    @include font-size(3);
}

h4 {
    @include font-size(2);
    font-weight: bold;
}

a {
    color: $dark;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    @include font-size(1.8);
    padding-bottom: 10px;
}

code {
    @include font-size(1.5);
    overflow: auto;
    font-family: monospace !important;
}

time {
    display: block;
    @include font-size(1.6);
    margin-top: -20px;
}

.feature {
    font-family: $feature-font;
}

.underline {
    text-decoration: underline;
}

.detail {
    @include font-size(1.2);
}

.front {        
    position: relative;
    z-index: 9999;
}

.middle {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 95%;
}

.list-no-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.primary {
    color: $primary;
}

.secondary {
    color: $information;
}

.accent {
    color: $accent
}

.center-text {
    text-align: center;
}

.text-shadow {
    text-shadow: 0px 0px 3px $dark;
}


/* Content */
$footer-height: 90px;

.content {
    min-height: 100%;
	margin: 0 auto $footer-height * -1;
}

/* Header */
.header {
    position: relative;
    height: 80px;
    
    @include striped-colour(lighten($dark, 3%));
}

$logo-width: 100px;

.logo {
    width: $logo-width;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 10px 20px;
    background-color: $dark;
    text-align: center;
    border-radius: 2px;  
    @include font-size(2);
    transition: all 0.3s ease 0s;
}

button:hover {
    text-decoration: none;
    background-color: $secondary;
}

.btn-primary:hover {
    background-color: darken($secondary, 5%);
}


/* Blog */
.post {
    margin-bottom: 10px;
    border-bottom: 1px dashed lighten($dark, 50%); 
}

.read-more a {
    display: block;
    margin-bottom: 10px;
    color: $secondary;
    @include font-size(1.7);
}

/* Footer */
footer, .push {
    height: $footer-height;
}

footer {
    position: relative;
    padding: 10px;
    vertical-align: bottom;
    color: lighten($dark, 20%);
    background-color: darken($dark, 5%);
}

.email {
    color: inherit;
}

.email:hover {
    color: $light;
}

.content-info {
    text-align: left;
    position: absolute;
    bottom: 10px;
    
    > * {
        margin-bottom: 5px;
        @include font-size(1.5);
    }
}