---
---
@import "html5bp";
@import "colours";
@import "syntax";
@import "helper";

/* Variables */
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-regular-webfont.eot');
    src: url('/fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('/fonts/raleway-regular-webfont.woff') format('woff'),
         url('/fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$standard-font: 'Raleway', sans-serif;
$feature-font: 'Roboto Slab', serif;

/* Mixins */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin striped-colour($colour: black, $angle: 45deg, $amount: 1%) {
    background: repeating-linear-gradient($angle,
                                        $colour,
                                        $colour 20px,
                                        lighten($colour, $amount) 20px,
                                        lighten($colour, $amount) 40px);
}

@mixin striped-colours($colour: black, $colour-two: white, $angle: 45deg, $amount: 1%) {
    background: repeating-linear-gradient($angle,
                                        $colour,
                                        $colour 20px,
                                        $colour-two 20px,
                                        $colour-two 40px);
}

* {
    font-weight: 400;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    font-family: $standard-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
}

html {
    font-size: 8pt;
    color: $dark;
    background-color: $light;
}

section {
    padding-bottom: 20px;
}

span {
    font-weight: inherit;
}

h1, h2, h3 {
    font-family: $feature-font;
}

h1 {
    @include font-size(4);
    margin-top: 50px;
}

h2 {
    @include font-size(3.6);
}

h3 {
    @include font-size(3);
}

h3 + p {
    margin-top: -8px; // 1/4 of the h3 bottom-margin
}

h4 {
    @include font-size(2);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a.inactive {
    color: $muted;
}

a.inactive:hover {
    text-decoration: none;
}

p {
    @include font-size(1.8);
    padding-bottom: 10px;
}


ul, ol {
    @include font-size(1.8);
}

li {
    font-size: inherit;
}

code {
    @include font-size(1.5);
    overflow: auto;
    font-family: monospace !important;
}

time {
    display: block;
    @include font-size(1.6);
    margin-top: -20px;
}

.feature {
    font-family: $feature-font;
}

.underline {
    text-decoration: underline;
}

.detail {
    @include font-size(1.2);
}

.front {        
    position: relative;
    z-index: 9999;
}

.middle {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 95%;
}

.list-no-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.accent {
    color: $accent
}

.center-text {
    text-align: center;
}

.text-shadow {
    text-shadow: 0px 0px 3px $dark;
}


/* Content */
$footer-height: 300px;

.content {
    min-height: 100%;
	margin: 0 auto $footer-height * -1;
}

/* Shadow */
.high-shadow {
    box-shadow: 0px 0px 4px 2px $dark;
}

.sunken-shadow {
    box-shadow: inset  0  6px 6px -6px $dark,
                inset  0 -6px 6px -6px $dark;
}

/* Header */
.header {
    position: relative;
    height: 80px;
    
    @include striped-colours($primary, $secondary);
}

$logo-width: 100px;

.logo {
    width: $logo-width;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    transition-property: width, padding-top, transform;
    transition-duration: .1s;
    transition-timing-function: ease;
}

.logo:hover{
    transform: rotate(-15deg);
    padding-top: 0;
    width: $logo-width + 10;
}

button {
    padding: 10px 20px;
    background-color: $dark;
    text-align: center;
    border-radius: 2px;  
    @include font-size(2);
    transition: all 0.3s ease 0s;
}

button:hover {
    text-decoration: none;
    background-color: $secondary;
}

.btn-primary:hover {
    background-color: darken($secondary, 5%);
}

/* Blog */
.post {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed lighten($dark, 50%); 
}

/* Footer */
footer, .push {
    height: $footer-height;
}

.read-more {
    @include font-size(1.8);
    color: $secondary;
}

footer {
    position: relative;
    padding: 10px;
    vertical-align: bottom;
    color: lighten($dark, 30%);
    background-color: darken($dark, 5%);
    @include font-size(1.5);
    
    h2 {
        margin-top: 5px;
        margin-bottom: 20px;
        
        color: $light;
    }
    
    svg {
        width: 1.7em;
        margin-right: 20px;
        
        path {
            fill: lighten($dark, 30%);
        }
    }
     
    li:hover {
        a {
            color: $light;
            text-decoration: underline;
        }
        
        path {
            fill: $light;
        }
    }
    
    li {
        margin-left: 20px;
        margin-bottom: 12px;
    }
    
    .copyright {
        position: absolute;
        bottom: 10px;
    }
}