---
---
@import "html5bp";
@import "colours";
@import "syntax";

/* Variables */
$feature-font: 'Roboto Slab', serif;
$standard-font: 'Open Sans', sans-serif;

/* Mixins */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: $standard-font;
}

html {
    font-size: 62.5%;
}

section {
    padding: 20px 0;
}

h1, h2 {
    font-family: $feature-font;
}

h1 {
    @include font-size(4.2);
    text-transform: uppercase;
    margin: 10px 10px 10px 0;
}

h2 {
    @include font-size(3.0);
}

h3 {
    @include font-size(2.0);
    text-align: center;
    text-transform: uppercase;
}

h4 {
   @include font-size(1.5);
}

ul {
    @include font-size(1.4);
    padding-left: 20px;
}

p {
    @include font-size(1.8);
    padding-bottom: 10px;
}

code {
    @include font-size(1.5);
    overflow: auto;
    font-family: monospace !important;
}

input, textarea, button {
    @include font-size(1.8);
    font-family: $feature-font;
    width: 100%;
    margin-bottom: 10px;
    color: black;
}

label {
    @include font-size(1.5);
}

.main-wrap {
    width: 95%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.detail {
    color: $secondary-colour-0;
    font-family: $feature-font;
    @include font-size(1.2);
}

/* Shadow */
$colour-shadow: black;

.vertical-shadow {
    box-shadow: inset  0  8px 8px -8px $colour-shadow,
                inset  0 -8px 8px -8px $colour-shadow;
}

.top-shadow {
    box-shadow: inset  0  8px 8px -8px $colour-shadow;
}

.bottom-shadow {
    box-shadow: inset  0 -8px 8px -8px $colour-shadow;
}

/* Header */
header {
    position: relative;
    z-index: 1;
    padding: 1% 3%;
    background-color: $complement-colour-0;
}

.logo-text {
    @include font-size(4.2);
    font-weight: bold;
    font-family: $feature-font;
}

.logo-text {
    a {
        text-decoration: none;
        color: $primary-colour;
    }

    a:hover {
        color: $secondary-colour-0; 
    }
}

/* Navbar */
nav {
    @include font-size(2);
    float: right;
    vertical-align: bottom;
    text-transform: lowercase;
}

header nav {
    a {
        font-family: $feature-font;
        color: $primary-colour;
        line-height: 3em;
        margin: 0 0.5em;
        padding: 3px 0.1em;
        text-decoration: none;
    }

    a:hover {
        color: $secondary-colour-0;
        border-bottom: 3px solid $secondary-colour-1;
    }
}

/* Content */
$footer-height: 35px;

.content {
    min-height: 100%;
	margin: 0 auto $footer-height * -1;
}

/* Intro */
.middle {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

/* Hero */
.hero {
    position: relative;
    padding: 10px 0px;
    background-color: $secondary-colour-1;
}

.hero-feature {
    padding: 20px 0;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.hero h2 {
    font-family: $standard-font;
    padding: 6px;
    color: $complement-colour-0;
    text-transform: uppercase;
    text-align: center;
}

/* Background grid */
.grid-lines {
    background-image: url("/img/gridlines.svg");
    background-size: 100% 100%
}

/* Beaker */
#beakerOutline {
    stroke: #fff
}

#beakerLiquid {
    fill: #fff;
}

.beaker-number {
    animation: fade-in-rise-out 5s infinite;
    opacity: 0;
    fill: #fff;
    &:nth-child(4) {
        @include font-size(3);
        animation-delay: 1s;
    }
    &:nth-child(5) {
        @include font-size(3);
        animation-delay: 3s;
    }
    &:nth-child(6) {
        @include font-size(2);
        animation-delay: 5.2s;
    }
    &:nth-child(7) {
        @include font-size(5);
        animation-delay: 7.8s;
    }
}

@keyframes fade-in-rise-out {
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}


/* About */
.about {
    background-color: $complement-colour-0;
}

ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

ol li {
    counter-increment: step-counter;
}

ol li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

/* Contact */
.contact {
    color: $complement-colour-1;
    background-color: $primary-colour;
}

/* Footer */
footer, .push {
    height: $footer-height;
}

footer {
    padding: 10px;
    border-top: 2px solid $secondary-colour-0;
    background-color: black;
}

.footer-info {
    color: white;
    float: right;
}

/* Posts */
.posts-header {
    background-color: yellow;
}