---
layout: default
title: Joseph Billingsley
---
<section class="hero">
		
	<div class="hero-body">
		<div class="middle">
			<h4 class="front">
				Achievement #1 
			</h4>
				
			<h1 class="highlight front">
				<a href="www.josephbillingsley.co.uk">
					How to survive a <span class="information">3500ft</span> fall
				</a>
			</h1>
			
			<p class="excerpt front">
				Adventures in skydiving and other antics
			</p>
		</div>
	</div>
	
	<div class="find-out front">
		<a class="btn" href="www.josephbillingsley.co.uk">
			Read Now
		</a>
	</div>
	
	<img id="hero-background"></img>
		
</section>

<section class="about sunken-shadow">
	<div class="middle">
		<p>
			Hello! I'm Joseph Billingsley.
		</p>
		<p>
			I am a computer science student at the University of Birmingham experienced
			in .NET and Java.
			I also bake pies and jump out of planes<sup>*</sup>.
			<span class="highlight">I am looking for work starting <span class="information">July 2016</span>.</span>
		</p>
		
		<p class="small">* Not at the same time.</p>
	</div>
</section>
		
<section class="blog middle">
	
	{% for post in paginator.posts %}
		<div class="post">
				
			<div class="title">
				<h2>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
				</h2>
			</div>
			
			<time class="date" datetime="{{ post.date | "%Y-%m-%d" }}">
				{{ post.date | date: "%d %b %Y" | upcase }}
			</time>
							
			{{ post.excerpt }}
			
			<div class="read-more">
				<a href="{{ post.url }}">
					Read more >
				</a>
			</div>
		</div>
	{% endfor %}
				
	{% if paginator.total_pages > 1 %}
		<div class="pagination">
  			{% if paginator.previous_page %}
    			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  			{% else %}
    			<span>&laquo; Older</span>
  			{% endif %}		
				  	  
  			{% if paginator.next_page %}
   				 <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  			{% else %}
    			<span>Newer &raquo;</span>
  			{% endif %}
		</div>
	{% endif %}
</section>