---
layout: default
title: Joseph Billingsley
---
<section class="hero">
	
	<div class="logo">
		Joseph Billingsley
	</div>
	
	<div class="middle">
		<h1>
			Programmer & <span class="role" id="role-content">Student</span>
		</h1>
		
		<p class="excerpt">
			A small amount of text which briefly outlines the content of the post...
		</p>
		
		<button>
			Read Now
		</button>
	</div>
</section>

<section class="about sunken-shadow">
	<div class="middle">
		<p>
			Hello! I'm <b>Joseph Billingsley</b>.
		</p>
		<p>
			Lorem ipsum dolor sit amet. 
			I forget what the rest of the text is but blah. 
			Blah blah blah blah blah. 
			<span class="information">I am available for work.</span>
		</p>
	</div>
</section>
		
<section class="blog middle">	
	{% for post in paginator.posts %}
		<div class="post">
				
			<div class="title">
				<a href="{{ post.url }}">
					<h2>{{ post.title }}</h2>
				</a>
			</div>
				
			<time class="date" datetime="{{ post.date | "%Y-%m-%d" }}">
				{{ post.date | date: "%d %b %Y" | upcase }}
			</time>
								
			<p class="post-excerpt">
				{{ post.excerpt | remove: '<p>' | remove: '</p>'}}
			</p>
						
			<div class="tags">
				{% for tag in post.tags limit:3 %}
					<span class="tag">{{ tag }}</span>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
			
	{% if paginator.total_pages > 1 %}
		<div class="pagination">
  			{% if paginator.previous_page %}
    			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  			{% else %}
    			<span>&laquo; Older</span>
  			{% endif %}		
				  	  
  			{% if paginator.next_page %}
   				 <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  			{% else %}
    			<span>Newer &raquo;</span>
  			{% endif %}
		</div>
	{% endif %}
</section>