<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>

<div class="map" id="beer_map"></div>

<script>

    var bounds = new L.LatLngBounds(new L.LatLng(61.994715, -17.409785), new L.LatLng(48.423370, 10.352238))
    var beer_map = new L.Map('beer_map', {
        center: bounds.getCenter(),
        zoom: 5,
        maxBounds: bounds,
        maxBoundsViscosity: 1.0
    });

    beer_map.setMinZoom(4);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
        tileSize: 512,
        maxZoom: 18,
        zoomOffset: -1,
        id: 'mapbox/streets-v11',
        accessToken: 'pk.eyJ1Ijoiam9lYmlsbGluZ3NsZXkiLCJhIjoiY2o5djYzdDNnMWhxMjJ2cG9iYzZmZzl5MyJ9.hOoHCtzze8-YCBodh8tkFQ'
    }).addTo(beer_map);

    var src = "https://www.josephbillingsley.co.uk/public_data/beer.json";

    function onEachFeature(feature, layer) {
        if (feature.properties) {
            layer.bindPopup(feature.properties.name);
        }
    }

    var needIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var xhr = new XMLHttpRequest();
    xhr.open("GET", src, true);
    xhr.onload = function (e) {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var beers = JSON.parse(xhr.responseText);

                var all = L.geoJSON(beers, {
                    onEachFeature: onEachFeature,
                    pointToLayer: function (feature, latlng) {
                        switch (feature.properties.status) {
                            case "got": return L.marker(latlng);
                            case "need": return L.marker(latlng, { icon: needIcon });
                        }
                    }
                });

                var got = L.geoJSON(beers, {
                    onEachFeature: onEachFeature,
                    filter: function (feature) {
                        return feature.properties.status == "got";
                    },
                });

                var need = L.geoJSON(beers, {
                    onEachFeature: onEachFeature,
                    filter: function (feature) {
                        return feature.properties.status == "need";
                    },
                    pointToLayer: function (feature, latlng) {
                        return L.marker(latlng, { icon: needIcon });
                    }
                });

                beer_map.addLayer(all);

                var overlayMaps = {
                    "All": all,
                    "Got": got,
                    "Need": need,
                };

                L.control.layers(overlayMaps).addTo(beer_map);
            } else {
                console.error(xhr.statusText);
            }
        }
    }
    xhr.send(null);
</script>