$primary-colour: #282C2B;// #225378;	// Main Primary color */
$secondary-colour:#04BFBF;	// Main Secondary color (1) */

$background-colour: white;

$blue: #194FCA;
$red: #FF0505;
$orange: #FD7400;
$yellow: #FFE11A;
$green: #2BD000;

$subtle: darken(#fff, 10%);

$dark-text-colour: #181C22; //#222831;
$light-text-colour: white;
//$secondary-colour-1: #632770;	 Main Secondary color (2) */