$primary-colour-0: #3C8D2F;	// Main Primary color */
$primary-colour-1: #96D38D;
$primary-colour-2: #64B058;
$primary-colour-3: #1E6912;
$primary-colour-4: #0A4600;

$secondary-colour-1-0: #2B4B6F;	// Main Secondary color (1) */
$secondary-colour-1-1: #738CA6;
$secondary-colour-1-2: #4B698B;
$secondary-colour-1-3: #133253;
$secondary-colour-1-4: #041D37;

$secondary-colour-2-0: #AA7E39;	// Main Secondary color (2) */
$secondary-colour-2-1: #FFDDAA;
$secondary-colour-2-2: #D5AB6A;
$secondary-colour-2-3: #805616;
$secondary-colour-2-4: #563400;

$complement-colour-0: #A6373F;	// Main Complement color */
$complement-colour-1: #F8A6AC;
$complement-colour-2: #CF686F;
$complement-colour-3: #7C151C;
$complement-colour-4: #530006;

$offwhite: #FFFFFE;

$logo-link-colour: black;
$navbar-link-colour: grey;