// General purpose colours
$primary-colour: #364652;
$secondary-colour: #06A77D;
$accent-colour: #C05746 ;
$dark: #282C2B;
$light: #fefffe;

// Status colours
$success: #2bc016;
$warning: #FD7400;
$error: #FF0505;
$information: #06A77D;
$muted: #ff00ff;

/* Thanks Travis.io!
   http://travis.io/design-for-developers/how-to-choose-colors-for-an-application-or-website
*/